@import '../node_modules/bootstrap//scss/bootstrap.scss';

@for $i from 1 through 15 {
  .font-#{$i} {
    font-size: $i + em !important;
    //line-height: $i/$i + em !important;
    word-spacing: -0.01 + em !important;
  }
}

@for $i from 1 through 15 {
  .font-medium-#{$i} {
    font-size: $i + 0.5 + em !important;
    //line-height: $i/$i + em !important;
    word-spacing: -0.01 + em !important;
  }
}

@for $i from 70 through 100 {
  .font-per-#{$i} {
    font-size: percentage($i/100) !important;
  }
}


*:focus {
  outline: 0 !important;
}

body {
  background-color:#f1f1f1;
  font-family: 'Tomorrow', sans-serif;
  font-size: 1.1em;
}

.first-fonts{
  font-family: 'Tomorrow', sans-serif;
}
.second-fonts {
  font-family: 'Lakki Reddy', cursive;
}

.meme-item {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;


}

.meme-img {
  width: 100%;
  height: auto;
  position: relative;
  filter: brightness(90%);
}

.meme-text {
  color: white;
  font-size: .8em;
  animation-name: fade_in;
  animation-duration: 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.no-text {
  display: none;
}

.darken-img {
  background-color: gray;
  filter: brightness(10%);
  animation-name: darken;
  animation-duration: 1s;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }

}

@keyframes darken {
  from {
    filter: brightness(90%)
  }

  to {
    filter: brightness(10%)
  }

}


.my-meme-img {
  position: relative;
  display: flex;

}


.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}


.my-masonry-grid_column>div {
  background: transparent;
  margin-bottom: 30px;
}


.text-input-first {
  border-right: none;
  border: 1px solid #dddddd;

}

.text-input-second {
  border-left: none;
  border: 1px solid #dddddd;
}


.btn-load-more {
  padding: 1em;
  border: 2px solid #dddddd;
  background-color: white;
  font-size: 1em;

  &:hover {
    background-color: black;
    border: 2px solid #000000;
    color: white;
  }


}



.link {
  color: #666666;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}