@import '../node_modules/bootstrap//scss/bootstrap.scss';

*:focus {
  outline: 0 !important;
}

body {
  background-color: #222222;
}

.meme-item {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;


}

.meme-img {
  width: 100%;
  height: auto;
  position: relative;
  filter: brightness(90%);
}

.meme-text {
  color: white;
  font-size: .8em;
  animation-name: fade_in;
  animation-duration: 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.no-text {
  display: none;
}

.darken-img {
  background-color: gray;
  filter: brightness(10%);
  animation-name: darken;
  animation-duration: 1s;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }

}

@keyframes darken {
  from {
    filter: brightness(90%)
  }

  to {
    filter: brightness(10%)
  }

}


.my-meme-img {
  position: relative;
  display: flex;

}


.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}


.my-masonry-grid_column>div {
  background: grey;
  margin-bottom: 30px;
}


.text-input-first {
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
  border-right: none;
  border: 1px solid #666666;

}

.text-input-second {
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
  border-left: none;
  border: 1px solid #666666;
}


.btn-load-more {
  padding: 1em;
  border: 2px solid black;
  background-color: white;
  font-size: 1em;
  border-radius: 5em;

  &:hover {
    background: rgb(131,58,180);
    background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 95%, rgba(252,176,69,1) 100%);
    color: white;
  }


}