@import '../node_modules/bootstrap//scss/bootstrap.scss';

body {
background-color: #f3f3f3;
}

.meme-item {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  

}

.meme-img {
  width: 100%;
  height: auto;
  position: relative;
  filter: brightness(90%);
}

.meme-text {
  color: white;
  font-size: .8em;
  animation-name: fade_in;
  animation-duration: 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.no-text {
  display: none;
}

.darken-img {
  background-color: gray;
  filter: brightness(10%);
  animation-name: darken;
  animation-duration: 1s;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
      opacity: 100;
  }

}

@keyframes darken {
  from {
    filter: brightness(90%)
  }

to {
  filter: brightness(10%)
}

}


.my-meme-img {
  position: relative;
  display: flex;
  
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
 
/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}
